/* Code the layout using flexbox */
.main-flexbox {
  display: flex;
}

.cards-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#map {
  height: 100vh;
  flex: 0 0 400px;
  position: sticky !important;
  top: 0 !important;
}

.first {
  background: url(https://images.unsplash.com/photo-1519544442-93857b48665e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80);
}

.second {
  background: url(https://images.unsplash.com/photo-1582989734379-8f098b902049?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8amFja2ZydWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
}

.third {
  background: url(https://images.unsplash.com/photo-1627799269288-8773001ad98e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
}

.fourth {
  background: url(https://images.unsplash.com/photo-1597975371283-5461cdf69d5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bG9uZ2FufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60);
}

.card {
  padding: 50px 0px;
  margin: 20px 0px;
  background-size: cover;
  background-position: center;
  font-size: 3rem;
  flex: 0 0 30%;
  color: white;
}

@media(max-width: 992px) {
  .card {
    flex: 0 0 50%;
  }

  @media(max-width: 768px) {
    .card {
      flex: 0 0 100%;
    }
