.item {
  padding: 20px;
  margin: 10px;
}

.one {
  grid-column: 1/3;
  grid-row: 1;
}

.one>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.two {
  grid-column: 1/2/3;
  grid-row: 1/span 2;
}

.two>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

.three>img, .four>img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.quote {
  font-family: 'Sacramento', cursive;
}

.img-quote {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.top {
  height: 5%;
  width: 100vw;
  margin-top: -900px;
}

.nav {
  text-align: center;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-medium {
  background: grey;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.bottom {
  height: 50px;
  text-align: center;
  background-color: #B1E1FF;
}
.container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}
